.about {
  color: #eeeeee;
  font-size: 16px;
  line-height: 1.65em;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__text {
    width: 57%;
    padding: 0 1%;
    color: #d5d5d5;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &__info {
    width: 37%;

    @media screen and (max-width: 640px) {
      width: 100%;
    }

    &-text span {
      color: #5050f5;
      margin-right: 5px;
      font-weight: 600;
    }
  }
}
