.portfolio {
  &__filter {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    list-style: none;

    &-item {
      margin-right: 20px;

      a {
        color: #aaa;
        font-size: 13px;
        text-decoration: none;
        transition: .5s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          color: #eee;
        }
      }

      &--active {
        a {
          color: #eee;
        }
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: block;
    width: 32%;
    margin-bottom: 20px;
    overflow: hidden;

    &:hover,
    &:focus {
      .portfolio__item-desc {
        transform: translateY(0%);
      }

      img {
        transform: scale(1.4);
      }
    }

    img {
      transition: .5s ease-in;
    }

    @media screen and (max-width: 1120px) {
      width: 49%;;
    }

    @media screen and (max-width: 640px) {
      width: 100%;;
    }
  }

  &__item-desc {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,245, 0.5);
    transform: translateY(-100%);
    transition: .5s ease;
  }

  &__item-title {
    font-size: 16px;
    color: #eee;
  }
}
